<div class="row">
    <div class="col-xs-3">Posts: {{ info.postCount }}</div>
    <div class="col-xs-6 text-center"><button class="btn btn-sm btn-default" ng-click="getCsv()">Export</button></div>
    <div class="col-xs-3 text-right">Views: {{ info.viewCount }}</div>
</div>
