<div class="row" ng-repeat="post in posts">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <div ng-if="post.title">{{ post.title }}</div>
        <div>
            <img ng-src="//{{ post.path }}">
        </div>
    </div>
</div>