<div class="row">
    <div class="col-sm12">
        <input type="text" class="form-control" placeholder="Image title" ng-model="post.title">
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <input type="file" class="text-center"  read-image accept="image/*">
    </div>
</div>